body{
    width: 100%;
    background-color: black;
}

header{
    height: 100px;
    width: 100%;
    background-image: url("../images/header_image.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}

#sidemenu{
    background-color: purple;
    height: 900px;
    width: 10%;
    position: absolute;
}

main{
    background-color: yellow;
    height: 900px;
    width: 90%;
    margin-left: 10%;
    overflow:scroll;
    padding-left: 10px;
}

footer{
    height: 30px;
    width: 100%;
    background-image: url("../images/footer_image.jpg");
    background-size: 100% 100px;
    background-repeat: no-repeat;
}

#MainContent{
    display: inline;
}

#video{
    width: 1280px;
    height: 720px;
    margin: auto;
    padding-left : 200px;
}